html{
  letter-spacing: 1px;
  word-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  background-color: rgb(33, 33, 61);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red;  */
}

main{
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  background-color: rgb(224, 224, 224);
  max-width: 1100px;
  height: 700px;
  padding: 30px;
}



ul{
  text-align: left;
  margin-left: 30px;
  line-height: 2;
  list-style: none;
}


sup{
  font-size: 16px;
}

.mo{
  font-size: 16px;
}

section{
 width: 300px;
 min-height: 600px;
 text-align: center;
 background-color: white;
 box-shadow: 2px 1px 2px 1px rgb(212, 212, 212);
 border-left: 5 solid  rgb(224, 224, 224); 
 border-radius: 5px;
 margin:5px;
}

h2{
  text-transform: uppercase;
}

.card1 h2{
font-size: 15px;
margin: 20px;
padding: 20px;
background-color:rgb(232, 232, 232);

}


.card2 h2{
  font-size: 15px;
  padding: 20px;
  margin: 20px;
  color:white;
  background: linear-gradient(to right, rgb(168, 168, 222) 25%, rgb(129, 54, 195));
  
  }

  .card3 h2{
    font-size: 15px;
    padding: 20px;
    margin: 20px;
    color:white;
    background: linear-gradient(to right, rgb(237, 83, 201) , rgb(252, 145, 79));
  
    }

.price{
  font-size: 40px;
  font-weight: bold;
  padding: 30px;
}

article{
  min-width: 200px;
  font-size: 14px;
  margin: 10px;
}


a{
  margin:30px;
  text-align: center;
  display: block;
  padding: 15px 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}


a:hover {
  color: white;
  background-color: black;
  border: 1px solid black;
}

.card2 a {
  background-color: black;
  color: white;
}


.card2 a:hover {
  background-color: white;
  color: black;
}

.card3 a:hover {
  background-color: black;
  color: white;
}
