
* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 1. !important overwrite class and id */
/* 2. # = id , ID go first */
/* 3 . = class */

  html {
    font-family: "Roboto";
    letter-spacing: 1px;
    word-spacing: 3px;
  }

  body{
    background-color: rgb(224, 230, 233);
}
/* 、
#container {
  background-color: blue;
  background: linear-gradient(to bottom, red, blue);
  /* Lazy 版 
  background: url("./download.jpeg") no-repeat center/cover*/


.container {
  max-width: 500px;
  margin: 100px auto;
  }

  .card {
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 13px 15px 11px 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgb(173, 173, 173);
  }

  .card h2{
    margin-bottom: 8px;
    text-transform: capitalize;
  }

  .card p{
    margin-bottom: 8px;
  }

  .card button{
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    border: 0px;
    width: 150px;
  }

  a{
    color: white;
    font-weight: 500px;
    text-decoration: none;
    text-transform: capitalize;
  }

  .sporty h2{
    color: red;
  }

  .sporty button{
    background-color: red;
    }


    .sporty{
      background: white url('./download.jpeg') no-repeat center right/178px;
    }

    .casual{
      background: white url('./Screenshot\ 2025-02-20\ at\ 3.27.55\ PM.png') no-repeat center right/178px;
    }
    .formal{
      background: white url('./Screenshot\ 2025-02-20\ at\ 3.33.46\ PM.png') no-repeat center right/178px;
    }

    .casual h2{
      color: rgb(38, 0, 255);
    }
  
    .casual button{
      background-color: rgb(38, 0, 255);
      }

      .formal h2{
        color: rgb(66, 46, 46);
      }
    
      .formal button{
        background-color :rgb(66, 46, 46);
        }
  
        nav button{
          margin-right: 20px ;
        }